@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '';
}

nav{
    width: 100%;
    height: 75px;
    background-color: crimson;
    line-height: 75px;
    padding: 0px 80px;
}

nav .logo{
    float: left;
}
.logo span{
    color: yellow;
}
nav .logo p{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #fff;
}
nav ul{
    float: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    font-size: 18px;
    text-decoration: none;
    padding: 0px 20px;
    color: #fff;
}
nav ul li a:hover{
    color: yellow;
}

.checkbtn{
    color: yellow;
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
}

#check{
    display: none;
}

.content{
    width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 5rem;
}
.content h3{
    font-size: 30px;
    color: crimson;
    background-image: linear-gradient(to right, orangered, crimson, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300%;
    background-position: -100%;
    animation: animatedText 4s infinite alternate-reverse;
}
@keyframes animatedText{
    to{
        background-position: 100%;
    }
}
.content h5{
    font-size: 20px;
    color: crimson;
    padding-top: 10px;
}
.rasim{
    width: 600px;
    height: 300px;
    border-radius: 30px;
    margin-top: 4rem;
    margin-bottom: 50px;
}

.sinf-haqida{
    padding: 15px 40px;
    background-color: crimson;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.sinf-haqida:hover{
    background-color: darkred;
    transition: 0.3s ease-in-out;
}

.section1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
}

.box1{
    width: 600px;
    height: 500px;
}

.box1 img{
   width: 600px;
   height: 400px;
   border-radius: 0px;
   border: 5px solid rgb(252, 170, 186); 
}
.box2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
}
.box2 .first{
    width: 270px;
    height: 150px;
}
.first h6{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: crimson;
}
.first p{
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
}
.box2 .second{
    width: 270px;
    height: 150px;;
}
.second h6{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: crimson;
}
.second p{
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
}
.box2 .third{
    width: 270px;
    height: 150px;
}
.third h6{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: crimson;
}
.third p{
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
}
.box2 .fourth{
    width: 270px;
    height: 150px;
}
.fourth h6{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: crimson;
}
.fourth p{
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
}

.section2{
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 28, 37);
}
.section2 h2{
    text-align: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
}
.section2 .line{
    width: 100px;
    height: 5px;
    background-color: crimson;
    border: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.rasimlar{
    width: 850px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.bir img{
    width: 250px;
    height: 200px;
    box-shadow: 0 2px 10px crimson;
}
.bir img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
.ikki img{
    width: 250px;
    height: 200px;
    box-shadow: 0 2px 10px crimson;
}
.ikki img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
.uch img{
    width: 250px;
    height: 200px;
    box-shadow: 0 2px 10px crimson;
}
.uch img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
.tort img{
    width: 250px;
    height: 200px;
    box-shadow: 0 2px 10px crimson;
}
.tort img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
.besh img{
    width: 250px;
    height: 200px;
    box-shadow: 0 2px 10px crimson;
}
.besh img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
.olti img{
    width: 250px;
    height: 200px;
    box-shadow: 0 2px 10px crimson;
}
.olti img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}